@import url("https://fonts.googleapis.com/css2?family=Oleo+Script:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Concert+One&display=swap");

body {
  background-color: #01155e;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.search {
  height: 100vh;
  width: 100vw;
  color: #ffd700;
  letter-spacing: 0.5rem;
  font-size: 2em;
  background-image: url("../images/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.lap1 {
  margin-top: 4.5rem;
  height: 70vh;
  width: 50vw;
  font-family: "Oleo Script", cursive;
  background: rgba(1, 21, 94, 0.6);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
}
.search h1 {
  font-size: 5rem;
  letter-spacing: 0.5rem;
}
.search img {
  width: 40rem;
  height: 40rem;
  margin-top: -15rem;
  margin-bottom: -12rem;
}
.search input {
  height: 5rem;
  width: 35rem;
  border-radius: 3rem !important;
  color: #01155e;
  text-align: center;
  font-size: 2rem !important;
}

.search input:focus {
  outline: none;
  border: 4px solid #ffd700 !important;
}
.position {
  border-radius: 1rem;
  background: rgba(11, 22, 62, 0.45);
  box-shadow: 0 8px 32px 0 #1f26875e;
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  /* border-radius: 10px; */
}
.position img {
  border-radius: 2rem;
}

.positionDay {
  border-radius: 1rem;
  background-color: #0b163eff;
  backdrop-filter: blur(0px);
  color: aliceblue;
}

.positionDay img {
  width: 4.5rem;
  height: 4.5rem;
}

.positionChild {
  background-color: aliceblue;
  /* background-color: rgb(20, 34, 89); */
  color: aliceblue;
}
.RightpositionChild {
  background-color: #0b163eff;
  /* background-color: rgb(20, 34, 89); */
  color: aliceblue;
}
.positionChildTime {
  background-color: transparent !important;
  color: aliceblue;
  text-transform: capitalize;
}
.positionChildTime h1 {
  font-size: 2.5rem;
}
.positionChildTime p {
  font-size: 1.1rem;
}
.positionChildDay {
  background-color: #6d2afaff;
  color: aliceblue;
}
.adjust {
  margin-top: -4rem;
  text-transform: capitalize;
}
.adjustMe {
  margin-top: -6rem;
  font-family: "Concert One", cursive;
}
.iPos {
  margin-top: -3rem;
  margin-bottom: -2.5rem;
}
.iPos img {
  width: 10rem;
  height: 10rem;
}

.mainWeather h3 {
  font-size: 3.5rem;
}

.mainWeather h1 {
  color: #ffd700;
}
